:root {
  --primary-pink: #ff3573;
  --dark-purple: #5e35b1;
  --white: #fff;
  --black: #000;
}
.appTabContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f1f1f1;
  word-break: break-all;
  box-shadow: 0 0.4rem 0.6rem rgb(162, 162, 162);
  padding: 0;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  background: var(--dark-purple);
  color: rgb(225, 225, 225);
  font-weight: 600;
}
.tabs:not(:last-child) {
  border-right: 0.2rem solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  color: var(--white);
  border-bottom: 1px solid transparent;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  /* background: var(--primary-pink); */
  background: var(--white);
  color: var(--dark-purple);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  font-size: 1rem;
}
.content p {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
}
.active-content {
  display: block;
}
@media screen and (max-width: 1060px) {
  .content h2 {
    font-size: 0.9rem;
  }
  .tabs {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 1000px) {
  .content p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 855px) {
  .tabs {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 800px) {
  .tabs {
    font-size: 1rem;
  }
  .content h2 {
    font-size: 1rem;
  }
  .content p {
    font-size: 0.9rem;
  }
}
