:root {
  --primary-pink: #ff3573;
  --dark-purple: #5e35b1;
  --dark-purple-2: #30126d;
  --dark-purple-3: #0f002e;
  --white: #fff;
  --black: #000;
}
.analytics-container {
  max-width: 80%;
  overflow: hidden;
  margin: 2rem auto;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--dark-purple);
}
.upper-tab {
  border-bottom: 0.1rem solid var(--dark-purple);
}
.market-tabs {
  width: auto;
  border-right: 0 !important;
  background: var(--dark-purple-3) !important;
  padding: 1rem 2rem;
}
.active-market-tabs {
  color: var(--white);
  background: none;
  border-bottom: 0.2rem solid var(--dark-purple);
  width: auto;
  border-right: 0 !important;
  padding: 1rem 2rem;
}
.market-content {
  background: var(--dark-purple-3);
  color: var(--white);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 880px) {
  .analytics-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 760px) {
  .market-tabs {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 672px) {
  .market-content {
    flex-direction: column;
    padding: 1rem;
  }
  .stats-container {
    margin: 1rem 0;
  }
  .market-tabs,
  .active-market-tabs {
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
  .analytics-container {
    margin: 1.5rem auto;
  }
}
@media screen and (max-width: 375px) {
  .market-tabs {
    font-size: 0.8rem;
  }
  .active-market-tabs {
    font-size: 0.8rem;
  }
  .market-tabs,
  .active-market-tabs {
    padding: 1rem;
    font-weight: 500;
  }
  .market-content {
    padding: 0.5rem 1rem;
  }
}
