:root {
  --primary-pink: #ff3573;
  --dark-purple: #5e35b1;
  --white: #fff;
  --black: #000;
}
.newsletter {
  background: var(--dark-purple);
  color: var(--white);
  padding: 3rem 2rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  overflow: hidden;
}
.newsletter h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0;
}
.subscribe {
  background: var(--white);
  padding: 0.2rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60%;
}
.subscribe input[type="email"] {
  background: var(--white);
  border: none;
  font-family: inherit;
  padding: 0.6rem 0.2rem;
  max-width: 60%;
  border-radius: .2rem;
}
.subscribe input[type="email"]:focus {
  outline: none;
}
.subscribeBtn {
  border-radius: 0.2rem;
}
.subscribeBtn:hover {
  color: var(--primary-pink) !important;
}
@media screen and (max-width: 900px) {
  .newsletter h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 788px) {
  .newsletter h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 732px) {
  .newsletter h1 {
    font-size: 1.2rem;
  }
  .newsletter {
    padding: 2.5rem 1rem;
  }
}
@media screen and (max-width: 686px) {
  .subscribeBtn {
    font-size: 0.7rem;
  }
  .newsletter {
    min-width: 90%;
    flex-direction: column;
  }
  .subscribe{
    flex-direction: column;
    background: none;
    min-width: 100%;
  }
  .subscribe input[type="email"] {
    font-size: 0.8rem;
    display: block;
    min-width: 70%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 355px) {
  .subscribeBtn {
    font-size: 0.5rem;
    font-weight: 500;
  }
  .newsletter {
    max-width: 80%;
    flex-direction: column;
  }
  .subscribe input[type="email"] {
    font-size: 0.8rem;
    min-width: 80%;
  }
  .newsletter h1 {
    font-size: 1rem;
  }
}
