:root {
  --primary-pink: #ff3573;
  --dark-purple: #5e35b1;
  --dark-purple-2: #30126d;
  --white: #fff;
  --black: #000;
}
.recently-listed-card {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 0 1rem 0 0;
  cursor: pointer;
  transition: 0.2s all;
}
.recently-listed-card:not(:last-child) {
  border-bottom: 0.1rem solid var(--dark-purple);
}
.recently-listed-card:hover {
  background: #30126d;
}
.listed-card-img {
  max-width: 7rem;
}
.listed-card-img img {
  width: 100%;
}
.card-id {
  background: var(--primary-pink);
  padding: 0.1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  padding: 0.1rem 0.7rem;
}
.details {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price {
  font-size: 1.2rem;
}
.time {
  color: #aaa;
  font-size: 0.8rem;
}
.arrow-btn {
  background: none;
  border: none;
  padding: 1rem;
}
.arrow-btn:hover {
  border: none;
}
.btn:focus {
  box-shadow: none !important;
}
.arrow-btn i {
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (max-width: 475px) {
  .price {
    font-size: 1rem !important;
  }
  .time {
    font-size: 0.6rem !important;
  }
  .arrow-btn i {
    font-size: 1.2rem !important;
  }
  .card-id {
    font-size: 0.6rem !important;
  }
}
@media screen and (max-width: 405px) {
  .listed-card-img {
    max-width: 6rem !important;
  }
  .recently-listed-card {
    padding: 0;
  }
}
@media screen and (max-width: 370px) {
  .arrow-btn {
    display: none !important;
  }
  .recently-listed-card{
    padding-right: .5rem;
  }
}
