:root {
  --primary-pink: #ff3573;
  --dark-purple: #5e35b1;
  --dark-purple-2: #30126d;
  --white: #fff;
  --black: #000;
}
.market-nav {
  background: #17153a;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.app-nav-btn {
  border-radius: 0.3rem;
}
.app-nav-btn:not(:last-child) {
  margin: 0 1rem;
}
.market-nav-btn {
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  background: var(--dark-purple);
  border-color: var(--dark-purple);
}
.market-nav-btn:hover {
  border-color: var(--dark-purple);
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    /* margin-right: auto; */
  }
}
