:root {
  --primary-pink: #ff3573;
  --dark-purple: #5e35b1;
  --white: #fff;
  --black: #000;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.stats-img {
  margin-right: 1rem;
  max-width: 2rem;
}
.stats-img img {
  width: 100%;
}
.stats p,
.stats h2 {
  margin: 0;
}
.stats p {
  color: rgb(203, 203, 203);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem !important;
}
.stats h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
@media screen and (max-width: 760px) {
  .stats p {
    font-size: 0.6rem !important;
  }
  .stats h2 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  .stats-img {
    max-width: 1.5rem;
  }
}
